.astroid-admin .row * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.astroid-admin .row:before,
.astroid-admin .row:after {
  content: " ";
  display: table;
}

.astroid-admin .row:after {
  clear: both;
}

.astroid-admin .row {
  margin-left: -5px;
  margin-right: -5px;
}

.float-left{ float: left; }

.float-right{ float: right; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 5px;
  padding-right: 5px;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  float: left;
}
.col-md-12 {
  width: 100%;
}
.col-md-11 {
  width: 91.66666667%;
}
.col-md-10 {
  width: 83.33333333%;
}
.col-md-9 {
  width: 75%;
}
.col-md-8 {
  width: 66.66666667%;
}
.col-md-7 {
  width: 58.33333333%;
}
.col-md-6 {
  width: 50%;
}
.col-md-5 {
  width: 41.66666667%;
}
.col-md-4 {
  width: 33.33333333%;
}
.col-md-3 {
  width: 25%;
}
.col-md-2 {
  width: 16.66666667%;
}
.col-md-1 {
  width: 8.33333333%;
}
.col-md-pull-12 {
  right: 100%;
}
.col-md-pull-11 {
  right: 91.66666667%;
}
.col-md-pull-10 {
  right: 83.33333333%;
}
.col-md-pull-9 {
  right: 75%;
}
.col-md-pull-8 {
  right: 66.66666667%;
}
.col-md-pull-7 {
  right: 58.33333333%;
}
.col-md-pull-6 {
  right: 50%;
}
.col-md-pull-5 {
  right: 41.66666667%;
}
.col-md-pull-4 {
  right: 33.33333333%;
}
.col-md-pull-3 {
  right: 25%;
}
.col-md-pull-2 {
  right: 16.66666667%;
}
.col-md-pull-1 {
  right: 8.33333333%;
}
.col-md-pull-0 {
  right: auto;
}
.col-md-push-12 {
  left: 100%;
}
.col-md-push-11 {
  left: 91.66666667%;
}
.col-md-push-10 {
  left: 83.33333333%;
}
.col-md-push-9 {
  left: 75%;
}
.col-md-push-8 {
  left: 66.66666667%;
}
.col-md-push-7 {
  left: 58.33333333%;
}
.col-md-push-6 {
  left: 50%;
}
.col-md-push-5 {
  left: 41.66666667%;
}
.col-md-push-4 {
  left: 33.33333333%;
}
.col-md-push-3 {
  left: 25%;
}
.col-md-push-2 {
  left: 16.66666667%;
}
.col-md-push-1 {
  left: 8.33333333%;
}
.col-md-push-0 {
  left: auto;
}
.col-md-offset-12 {
  margin-left: 100%;
}
.col-md-offset-11 {
  margin-left: 91.66666667%;
}
.col-md-offset-10 {
  margin-left: 83.33333333%;
}
.col-md-offset-9 {
  margin-left: 75%;
}
.col-md-offset-8 {
  margin-left: 66.66666667%;
}
.col-md-offset-7 {
  margin-left: 58.33333333%;
}
.col-md-offset-6 {
  margin-left: 50%;
}
.col-md-offset-5 {
  margin-left: 41.66666667%;
}
.col-md-offset-4 {
  margin-left: 33.33333333%;
}
.col-md-offset-3 {
  margin-left: 25%;
}
.col-md-offset-2 {
  margin-left: 16.66666667%;
}
.col-md-offset-1 {
  margin-left: 8.33333333%;
}
.col-md-offset-0 {
  margin-left: 0%;
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}

/* Astroid Admin */

.astroid-admin{
	display: flex;
	background: #f2f4f8;
	border: 1px solid #eee;
			border-radius: 6px;
	-webkit-border-radius: 6px;
}

.astroid-admin ul.astroid-controls{
	margin: 0;
	background: #fff;
	border-bottom: none;
	border-right: 1px solid #eee;
}

.astroid-admin ul.astroid-controls li{
	margin: 0;
	float: none;
	display: block;
}

.astroid-admin ul.astroid-controls li a{
	border: none;
	color: #3e4b5b;
	display: block;
	font-size: 16px;
	background: none;
	text-decoration: none;
	padding: 15px 20px;
	line-height: normal;
		border-radius: 0;
	-webkit-border-radius: 0;
}

.astroid-admin ul.astroid-controls li .fa{
	padding-right: 5px;
}

.astroid-admin ul.astroid-controls li.active > a,
.astroid-admin ul.astroid-controls li:hover > a{
	border: none;
	color: #047bf8;
}

.astroid-admin ul.astroid-controls li:not(:last-child){
	border-bottom: 1px solid #eee;
}

.astroid-admin .tab-content{
	padding: 20px;
}

.astroid-admin .control-group .control-label,
.astroid-admin .control-group .controls{
	float: none;
	margin: 0;
}

.astroid-admin .control-group .controls textarea{ width: auto; }


/*----- Layout Builder -----*/

#attrib-layout div.control-label{
	float: none;
	margin: 0;
	padding: 0;	
}

#attrib-layout div.controls{
	float: none;
	margin: 0;
	padding: 0;
}

#attrib-layout div.modal{
	left: 0;
	margin: 0 auto;
	max-width: 900px;
	right: 0;
	width: 80%;
}

#astroid-layout-builder ul{
	list-style: outside none none;
}

#astroid-layout-builder ul li{
	display: inline-block;
}

#attrib-layout .move{
	cursor: move;
}

#astroid-layout-builder .astroid-move-row{
	background: #047bf8;
	display: inline-block;
	margin-left: -46px;
	margin-right: 5px;
}

#astroid-layout-builder .astroid-move-row .fa{
	color: #fff;
	font-size: 18px;
	padding: 8px 10px;
}

#astroid-layout-builder .astroid-layout-section{
	padding: 0px 8px 8px;
	background: #fff;
}


#astroid-layout-builder .astroid-layout-row-option-list .remove-section{
	left: 44px;
	background: #f00;
	margin-left: -35px;
	position: relative;
}

#astroid-layout-builder .astroid-layout-row-option-list .remove-section .fa{
	color: #fff;
	font-size: 18px;
	padding: 8px 10px;
}

.astroid-layout-row-option-list li.show-on-hover{}

.astroid-layout-row-option-list li.show-on-hover.right{}

#astroid-layout-builder .astroid-layout-section .section-actions{
	border-bottom: 1px solid #ddd;
}

#astroid-layout-builder .astroid-layout-section:not(:last-child){
	margin-bottom: 20px;
}

#astroid-layout-builder .astroid-layout-section .astroid-layout-move-row{
	float: left;
}

#astroid-layout-builder .section-title{
	font-size: 18px;
	font-weight: normal;
}

#astroid-layout-builder .section .float-left{
	float: left;
}

#astroid-layout-builder .section .float-right{
	float: right;
}

#astroid-layout-builder .fa{
	color: #aaa;
	font-size: 16px;
	font-weight: 100;
}

.astroid-layout-column{
	text-align: center;
}

.astroid-column-position span{
	font-size: 16px;
}

.astroid-layout-column .column-inner{
	padding: 8px 10px;
	background: #f2f4f8;
}

.astroid-column-controls{
	margin: 5px 0px 10px;
}

ul.astroid-column-controls-inner{
	padding: 0;
	margin: 0 ;
	text-align: center;
}

#astroid-layout-builder .astroid-layout-section > ul{ padding: 0; margin: 0; }

#astroid-layout-builder .astroid-layout-section > ul > li.ng-scope,
#astroid-layout-builder ul.itemlist > li{ display: block; }



/*----- Row Level Popup -----*/

.astroid-tab * {
    box-sizing: border-box;
}
/* 
.astroid-tab{
	margin: 0 auto;
	max-width: 550px;
	border: 1px solid #ddd;
} */

.astroid-tab-header{
	padding: 10px 10px 0;
	background: #00b45f;
}

.astroid-tab-top-section{
	width: 100%;
	display: inline-block;
}

.astroid-tab-header .astroid-tab-header-heading{ float: left; padding: 0; color: #fff; margin: 0; }

.astroid-tab-header .top-btns{ float: right; }

.astroid-tab-header .top-btns .save-btn{
	color: #fff;
	background: #000;
}

.astroid-tab-header .top-btns a{
	font-size: 15px;
	min-width: 30px;
	min-height: 30px;
	line-height: 30px;
	text-align: center;
	display: inline-block;
}

.astroid-tab-header .top-btns .close-btn{
	color: #fff;
	background: red;
}

.astroid-tab ul.astroid-tabs{
    padding: 7px 0;
    font-size: 0;
    margin:0;
    list-style-type: none;
    text-align: left;
}

.astroid-tab ul.astroid-tabs li{
    display: inline;
    margin: 0;
    margin-right:3px;
}

.astroid-tab ul.astroid-tabs li a{
    font: normal 15px Verdana;
    text-decoration: none;
    position: relative;
    z-index: 1;
    padding: 15px 20px;
    color: #000;
    outline:none;
	border-color: transparent;
}

.astroid-tab ul.astroid-tabs li a:hover{
    background:#fff;
}

.astroid-tab ul.astroid-tabs li.selected a{
    top: 0px;
    font-weight:bold;
    background: #fff;
    position: relative;
    border-bottom-color: #fff;
}

.astroid-tab div.astroid-tab-contents {
	width: 100%;
	padding: 20px;
	background-color:#FFF;
}

.astroid-tab .label{
	color: #000;
}

/*----- Select Column -----*/

.layout-list-btn {
    margin: 0;
}

.layout-list-btn > li {
    padding: 0;
    margin-right: 3px;
    display: inline-block;
    line-height: 1;
    color: #aaa;
    font-size: 16px;
    font-weight: 100;
    position: relative;
}

.layout-list-btn > li > a,
.layout-list-btn > li > span {
    padding: 8px 12px;
    display: block;
}

.layout-list-btn.layout-list-left > .layout-move {
    margin-left: 0;
    background: #047bf8;
    color: #fff;
}

.layout-list-btn.layout-list-right > .layout-remove {
    background: #f00;
    color: #fff;
}

.layout-list-right > .layout-remove .fa,
.layout-list-left > .layout-move .fa {
    color: #fff !important;
}

.layout-columns-option {
    margin: 2px 0 0;
    padding: 2px 5px;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 329px;
    background: #e6e6e6;
    opacity: 0;
    visibility: hidden;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.layout-add-columns.visible ul{
	width: auto;
	min-width: auto;
	position: relative;
}

.layout-add-columns:hover ul,
.layout-add-columns.visible ul {
    opacity: 1;
    visibility: visible;
}

.layout-columns-option li {
    margin-right: 2px;
    width: 30px;
    min-height: 25px;
    display: inline-block;
    padding: 0;
    position: relative;
    vertical-align: text-top;
}

.layout-columns-option .row-layout a {
    display: block;
    padding: 0;
    min-height: 20px;
    padding-top: 11px;
}

.layout-columns-option .row-layout span,
.layout-columns-option .row-layout span:before,
.layout-columns-option .row-layout span:after {
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    background: #ffF;
    position: relative;
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.layout-columns-option .row-layout a:hover span, 
.layout-columns-option .row-layout a:hover span:before, 
.layout-columns-option .row-layout a:hover span:after{
    background: #047bf8;
}

.layout-columns-option .row-layout span {
    float: left;
}

.layout-columns-option .row-layout span + span {
    margin-left: 2px;
}

.layout-columns-option .row-layout span:before {
    -moz-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.layout-columns-option .row-layout span:after {
    -moz-transform: translateY(3px);
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
}

.row-layout.layout-6-6 span {
    width: 46%;
}

.row-layout.layout-8-4 span {
    width: 59%;
}

.row-layout.layout-8-4 span + span {
    width: 34%;
}

.row-layout.layout-4-4-4 span {
    width: 28%;
}

.row-layout.layout-3-3-3-3 span {
    width: 20%;
}

.row-layout.layout-3-9 span {
    width: 34%;
}

.row-layout.layout-3-9 span + span {
    width: 59%;
}

.row-layout.layout-9-3 span {
    width: 59%;
}

.row-layout.layout-9-3 span + span {
    width: 34%;
}

li.row-layout.layout-3-6-3 span {
    width: 20%;
}

li.row-layout.layout-3-6-3 span:nth-child(2) {
    width: 46%;
}

.row-layout.custom-layout {
    width: auto;
}

.row-layout.custom-layout a {
    line-height: 23px;
    padding: 0 5px;
    text-align: center;
    text-decoration: none;
}

.layout-columns-option .row-layout:not(:last-child) a:before {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    margin: 0 auto;
    border-bottom: 5px solid rgba(0,0,0,0.6);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    content: "";
    display: block;
    width: 5px;
    opacity: 0;
    visibility: hidden;
}

.layout-columns-option .row-layout:not(:last-child) a:after {
    content: attr(title);
    padding: 4px 6px;
    font-size: 12px;
    color: #fff;
    background: rgba(0,0,0,0.6);
    position: absolute;
    bottom: -25px;
    left: -15px;
    right: 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin: 0 auto;
    text-align: center;
    display: block;
    min-width: 60px;
    opacity: 0;
    visibility: hidden;
}

.layout-columns-option .row-layout a:hover:before,
.layout-columns-option .row-layout a:hover:after{
    visibility: visible;
    opacity: 1;
}

/*----- Patreen ------*/

.pattern-tab .pattren-radio{
    opacity: 0;
    position: absolute;
}

.pattern-tab .pattren-radio + img:before {
    background: #ffffff none repeat scroll 0 0;
    content: "";
    display: inline-block;
    height: 20px;
    margin-right: 10px;
    vertical-align: text-top;
    width: 20px;
}

.pattern-tab .pattren-radio + img {
	padding: 0;
	cursor: pointer;
	position: relative;
}

.pattern-tab .pattren-radio:checked + img::before {
    border: 1px solid #f00;
}

/*----- Popup Divider -----*/

.general-setting #astroid-tab-ul{
	margin: 0;
	padding: 0;
	border: none;
}

.general-setting .form-fields:not(:last-child){
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #ddd;
}

.general-setting .form-fields.no-border{
	border: none;
}

.general-setting .label{
	display: block;
	font-size: 18px;
	margin: 0 0 10px;
	padding: 0;
	text-align: left;
}

.general-setting .form-fields .label{
	background: none;
}

.general-setting .form-fields .form-content input[type="text"],
.general-setting .form-fields .form-content input[type="url"],
.general-setting .form-fields .form-content input[type="password"],
.general-setting .form-fields .form-content input[type="number"],
.general-setting .form-fields .form-content input[type="email"],
.general-setting .form-fields .form-content textarea,
.general-setting .form-fields .form-content select{
	height: 100%;
	border-radius: 0;
}


.responsive-tab{}

.responsive-tab table{}

.responsive-tab table th{
	padding: 5px;
}

.responsive-tab table td.screen-icon{
	background: #f8f8f8;
}

.responsive-tab table td.screen-icon .fa{
	font-size: 25px;
	color: #8a9197;
}

.responsive-tab table td{
    padding: 20px;
    text-align: center;
	border: 1px solid #ddd;
	vertical-align: center;
}

.responsive-tab table td select{
	min-width: 160px;
}

/* Heading Style
--------------------------*/

.form-horizontal .control-group.heading {
    border-bottom: 1px solid #E7E7E7;
    font-size: 14px;
    color: #5e5e5e;
    padding: 25px 50px 4px 0px;
    line-height: 0px;
    font-size: 14px;
}

.form-horizontal .control-group.heading_group {}
.form-horizontal .control-group.heading .subheading {
	font-size: 14px;
	display: inherit;
    color: #999;
    display: block;
    font-style: italic;
    line-height: 20px;
    margin-top: 8px;
    clear: both;
}
.form-horizontal .control-group.heading_group i.fa {
    float: left;
    margin-right: 5px;
    font-size: 86%;
}