.typesection {
	color: white;
	background-color: grey;
	font-size: 1.75rem;
	line-height: 3rem;
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	justify-content: space-between;
	align-items: center;
	display: flex;
	position: relative;
}
#contact-bar{
	width: 100%;
  margin: 0 0 10px;
  display: table;
}
.contact-details{
  float: left;
  width: auto;
}
.contact-details-name{
  float: left;
  width: auto;
}
.contact-details-tel-email{
  float: left;
  clear: both;
  padding: 10px 0;
  margin-bottom: 0;
}
.password-container {
	position: relative;
	/* display: flex; */
	align-items: center;
	justify-content: center;
}
.twoStepVerificationBox--content .twoStepVerificationBox--links-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2px;
  padding-top: 18px;
  border-top: 1px solid #d5d8de;
}
.twoStepVerificationBox--links-wrapper .aui-button-link, .twoStepVerificationBox--login-link, .twoStepVerificationBox--support-link {
  font-size: 14px !important;
}
.twoStepVerificationBox--links-wrapper .aui-button-link, .twoStepVerificationBox--login-link, .twoStepVerificationBox--support-link {
  font-size: 14px !important;
}
.twoStepVerificationBox--dot::before {
  content: '•';
  margin: 0 8px;
  color: #5E6C84;
}
.twoStepVerificationBox--wrapper {
	display: flex;
	justify-content: center;
}
.twoStepVerificationBox--content-wrapper{
	max-width: 400px;
	width: 22%;
}
.twoStepVerificationBox-logo-wrapper {
  padding: 40px 0;
}
.twoStepVerificationBox-logo {
  display: flex;
 width: 200px;
  height: 28px;
  justify-content: center;
}
.twoStepVerificationBox--content{
	box-shadow: rgba(0,0,0,.1) 0 0 10px;
  padding: 18px 40px;
}
.bsol-id-hero {
  padding: 0;
  margin: 0 auto;
  max-width: 800px;
}
.twoStepVerificationBox--heading {
  color: #5E6C84;
  font-size: 16px;
  font-weight: 600;
  text-align:center;
}
form.aid-form {
  margin: 0 auto;
  position: relative;
  max-width: 400px;
}
.twoStepVerificationBox--wrapper .twoStepVerificationBox--text {
  color: #172B4D;
  font-size: 14px;
   text-align:center;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}
#second-factor-form .text-inputs {
  margin: 20px auto 16px;
}
form.aid-form .text-inputs {
  margin: 20px auto;
}
#twoFACode{
	height: 2.14285714em;
  line-height: 1.42857143;
  padding: 3px 4px;
  width:320px;
}
#twoFACodeDiv{
	justify-content: center;
	display: flex;
}

#second-factor-form .aui-button {
  font-size: 100%;
   height: 40px;
}
.twoStepVerificationBox--content .verify-2sv-button {
  width: 100%;
  background: #0052CC;
  outline: 0;
  margin-top:10px;
}
.large-blue-button {
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: none;
	background-clip: border-box;
	background-color: #3572b0;
	background-origin: padding-box;
	background-size: auto;
	border: 1px solid transparent;
	border-image-outset: 0;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-image: none 100% 1 0 stretch;
	border-radius: 3px;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	height: 40px;
	letter-spacing: normal;
	line-height: 30px;
	padding: 4px 40px;
	text-decoration: none;
	text-indent: 0;
	text-rendering: auto;
	text-shadow: none;
	text-transform: none;
	vertical-align: baseline;
	white-space: nowrap;
	word-spacing: 0;
}
.toggle-password {
  position: absolute;
  top: 66%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}
#passwordRequirements {
	color: red;
	margin-top: 170px;
}

#passwordRequirements.valid {
	color: green;
	margin-top: 170px;
}
.newloadercss {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 14px;
	box-shadow: none !important;
	outline: 0 !important;
	color: white !important;
background-color: #26284A !important;
text-decoration: none;



}
.newloadercss:hover{
	color:white !important;
	background-color: #FC664A !important;
}


.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    color: #fff;
    background-color: #FC664A;
    border-color: #337ab7;
}


.user-login-5 .login-logo.login-6 {
    top: 40px;
    left: 46px;
}
.profilepicture {
    max-width: 150px !important;
} 
.signInbtn:hover{
	color:white !important;
	background-color: #FC664A !important;
}
.signInbtn{
	color:white !important;
    background-color: #26284A !important;
}
.tabbable-line > .nav-tabs > li.active {
    border-bottom: 4px solid #FC664A !important;
}
.showbtn:hover{
	color:white !important;
	background-color: #FC664A !important;
}
.showbtn{
	color:white !important;
    background-color: #26284A !important;
}
.newInfoBtn:hover{
	color:white !important;
	background-color: #FC664A !important;
}
.newInfoBtn{
	color:white !important;
    background-color: #26284A !important;
}
.savebtnCss:hover{
	color:white !important;
	background-color: #FC664A !important;
}
.savebtnCss{
	color:white !important;
    background-color: #26284A !important;
}
.btn-success:hover{
	color:white !important;
	background-color: #FC664A !important;
}
.btn-success{
	color:white !important;
    background-color: #26284A !important;
}

.btnactionsubmit:hover{
	color:white !important;
	background-color: #FC664A !important;
}
.btnactionsubmit{
	color:white !important;
    background-color: #26284A !important;
}
.submitAction:hover{
	color:white !important;
	background-color: #FC664A !important;
}
.submitAction{
	color:white !important;
    background-color: #26284A !important;
}
.actioneditbtn:hover{
	color:white !important;
	background-color: #FC664A !important;
}
.actioneditbtn{
	color:white !important;
    background-color: #26284A !important;
}
.actionaddbtn:hover{
	color:white !important;
	background-color: #FC664A !important;
}
.actionaddbtn{
	color:white !important;
    background-color: #26284A !important;
}

.statdiv:hover{
	color:white;
}
.statmaindiv {
}
.statdiv {
	margin-top:20px;
}
.widget-thumb .widget-thumb-body .widget-thumb-body-stat {
    display: block;
    font-size: 15px;
    font-weight: 600;
    color: #3e4f5e;
}
.modal-xl{
	width:1400px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	color: white;
	background-color: #FC664A;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
	cursor: default;
}
.btnExtra:hover{
	background-color: #26284A;
}
.btnExtra{
	font-size: 20px;
	background-color:#FC664A;
	font-family: IBM Plex Sans, Helvetica, sans-serif
}
.createItmes{
	font-size: 20px;
}
.itemLabel{
	
}
.itemHeading{
	font-size: 17px;
	text-align:center;
	margin-bottom:5px;
}
.itemHeading1{
	text-align:left;
}
.vl{
	border-left: 2px solid #B2B2B2;
	height: 300px;
	margin-left: 20px;
}
.marginStyle{
	margin-left:25px
}
.marginStyle2{
	margin-right:15px
}
.legendstyle{
	padding-top: 3px;
	padding-bottom: 3px;
	margin-top:15px;
	margin-bottom:1px;
	background-color:#26284A;
	color:white;
	font-family: IBM Plex Sans, Helvetica, sans-serif;
	border-radius: 0px 15px 15px 0px;
}
.newBtnCss{
	background-color:#26284A;
}
.newBtnCss1{
	background-color:#26284A;
	color:white;
}
.newBtnCss :hover{
	background-color:#FC664A;
}
.sidebarnewcss{
	background-color:#26284A;
}
.fa{
}
.tabCss{
	color:black;
}
.itemLinks:hover{
	background-color:#FC664A;
}
.page-header.navbar {
	background-color: #26284A;
}
.page-content-wrapper {
	background-color: #26284A;
}
.page-sidebar .page-sidebar-menu > li.open > a, .page-sidebar .page-sidebar-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a {
	background: #FC664A !important;
	color: #fff;
}
.page-sidebar .page-sidebar-menu .sub-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a {
	background: #FC664A !important;
}
.page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed > li.open > .sub-menu, .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed > li > .sub-menu {
	background: #26284A;
}
.page-sidebar .page-sidebar-menu .sub-menu > li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a {
	color: #C9DFF5;
	background-color: #26284A;
}