body {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
}

.loginLBox {
    background-color: #292b4d;
    height: 100vh;
    /* top: 10%; */
    position: relative;
    display: flex;
    align-items: center;
    vertical-align: middle;
}
.loginLBox img {
    width: 150px;
    margin: -55px auto 25px;
  }
.loginRight img {
  height: 100vh;
  object-fit: cover;
  width: 100%;
}
.loginForm {
  background-color: #fff;
  padding: 30px;
  max-width: 500px;
  width: 100%;
  border-radius: 15px;
  margin: 0 auto;
}
.loginForm h2 { 
  font-style: normal;
  font-weight: 500;
  font-size: 30px;  
  color: #292b4d;
  margin-bottom: 25px;
  text-align: center;
}
.loginForm .form-control {
  line-height: 40px;
  height: auto;
  padding: 0 10px;
  font-size: 14px;
}
.loginForm label {
  font-weight: 500;
  font-size: 1.05em;
}
.loginForm .form-check {
  margin-bottom: 25px;
}
.loginForm .form-check label {
  font-weight: 400;
  font-size: 1em;
}
.loginForm .form-check .form-check-input {
  position: absolute;
  margin-top: 6px;
  margin-left: -1.25rem;
}
.loginForm .btn-primary {
  background: #fc664a;
  border-radius: 6px;
  border-color: #fc664a;
  font-weight: 500;
  color: #ffffff;
  padding: 10px 25px;
  font-size: 18px;
  width: 100%;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #292b4d;
  border-color: #292b4d;
}

.loginCopyRight { 
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 13px;
    padding-bottom: 0;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}
