.rightBar {
	position: fixed; 
	width: 275px;
	background-color: #fff;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	padding: 50px 25px;
    overflow-y: auto;
    scrollBar-width: thin;
    transform: translateX(275px);
    transition: all 0.3s ease;
    box-shadow: 6px 0px 20px rgba(0,0,0,0.2);
}
.rightBar.active {
    transform: translateX(0);
    transition: all 0.3s ease;
}
.rightBar h2 {
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	line-height: 39px;
	color: #292b4d;
	margin: 0 0 25px;
}
.rightBarItems {
	display: flex;
    flex-direction: column;
	gap: 15px;
}

.rightBarItems i{
	padding-right:7px;
}

.rightBarItems a {
	display: flex;
	align-items: center;
	width: 100%;
	height: 45px;
	background: #fc664a;
	border-radius: 6px;
	padding: 0 10px;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 26px;
	color: #ffffff;
} 

.closeRightBar {
    font-size: 18px;
    font-weight: normal;
    color: #000;
    position: absolute;
    top:25px;
    left: 25px;
    cursor: pointer;
}