 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: "IBM Plex Sans", sans-serif;
}
body{
  overflow: hidden;
}
.sideBar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  background: #292B4D;
  z-index: 1000;
  transition: all 0.3s ease;
  padding-top: 22px;
}
.sideBarToggle  {
	width: 40px;
  height: 40px;
  background: #ffffff;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.160784);
  color: #292b4d;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  right: -23px;
  z-index: 99;
  top: 20px;
  cursor: pointer;
}
.sideBar.closeMenu{
  width: 70px;
}
.sideBar .logoBox{
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.sideBar .logoBox img{  
  width: 230px;
  text-align: center;
  padding: 0 0 0 25px;
  height: auto;
}
 
.sideBar .nav-links{
  height: 100%;
  padding: 30px  10px;
  overflow: auto;
  scrollbar-width: thin;
}
.sideBar.closeMenu .nav-links{
  overflow: visible;
}
.sideBar .nav-links::-webkit-scrollbar{
  display: none;
}
.sideBar .nav-links li, .sideBar .nav-links li .iocn-link {
	position: relative;
	list-style: none;
	transition: all 0.3s ease;
	padding: 10px 0;
  border-radius: 6px;
  width: 100%;
    float: left;
}
.sideBar .nav-links > li.active > .iocn-link, .sideBar .nav-links > li:hover > .iocn-link {
	background-color: #FC664A;
  border-radius: 6px;
  color: #fff;    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.160784);

}
.showMenu.active  {
	background-color: transparent !important;
  padding-top: 0 !important;
}
.showMenu.active::after {
	content: "";
	background: #FC664A;
	top: 0;
	left: 0;
	right: 0;
	height: 44px;
	border-radius: 6px;
	z-index: 0;
	position: absolute;
}
.sideBar .nav-links >   li.active  a  span, .sideBar .nav-links >   li:hover  a  span { 
  color: #fff ;
}
.sideBar .nav-links > li .subMenu .active {
	background-color: transparent;
  border-radius: 0;
  color: #fff !important;
} 
.sideBar .nav-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
.sideBar.closeMenu .nav-links li .iocn-link{
  display: block
}
.sideBar .nav-links li i{
  height: auto;
  min-width: 50px;
  text-align: center;
  line-height: normal;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sideBar .nav-links li.showMenu i.arrowIcon{
  transform: rotate(-180deg); 
}
.sideBar .nav-links li i.arrowIcon {
    min-width: auto;
    margin-right: 10px;
    right: 0;
    position: absolute;
}
.sideBar.closeMenu .nav-links i.arrowIcon{
  display: none;
}

.sideBar .nav-links li a {
    /* display: flex; */
    /* align-items: center; */
    width: 100%;
    float: left;
    position: relative;color: #fff;
}
.sideBar .nav-links li a .link_name{
  font-size: 16px;
  font-weight: 400;
  color: #8D8FAF;
  transition: all 0.3s ease;
  white-space: nowrap;
}
.sideBar.closeMenu .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;display: none;
}
.sideBar .nav-links li .subMenu{
  padding: 10px 5px 0 59px;
  margin-top: 0; 
  display: none;
  background-color: #292B4D;
}
.sideBar .nav-links li .subMenu > li{
  padding: 0;
   
}
.sideBar .nav-links li.showMenu .subMenu{
  display: block;
}
.sideBar .nav-links li .subMenu a{
  color: #8D8FAF;
  font-size: 16px;
  padding: 5px 0;
  white-space: nowrap; 
  transition: all 0.3s ease;
}

.sideBar .nav-links li .subMenu .link_name{
  color: #fff;
  background-color: #FC664A;
  font-size: 16px;
  padding: 5px 10px;
  white-space: nowrap; 
  border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  transition: all 0.3s ease;
}
.sideBar .nav-links li .subMenu .subMenu2ndLabel ul li{
  padding: 0;
   
}
.sideBar .nav-links li .subMenu .subMenu2ndLabel ul  {
  padding: 5px 0 5px 15px;
   
}
.sideBar .nav-links li .subMenu .subMenu2ndLabel ul li a {
  color: #8D8FAF;
  font-size: 16px;
  padding: 5px 0;
  white-space: nowrap; 
  transition: all 0.3s ease;
  position: relative;
}
.sideBar .nav-links li .subMenu .subMenu2ndLabel  .dropdown-toggle::after {
  content: "\f105";
  border: none;
  font: normal normal normal 20px/1 FontAwesome;
  position: absolute;
  right: 5px;
  top: 7px; 
  color: #8d8faf;
  transition: all 0.3s ease;
}
.sideBar .nav-links li .subMenu .subMenu2ndLabel  .dropdown-toggle[aria-expanded="true"]::after {
  content: "\f107";
  transition: all 0.3s ease;
  color: #fff;
}
.sideBar .nav-links li .subMenu a:hover{
  opacity: 1;
  color:#fff;
}

.sideBar.closeMenu .nav-links li .subMenu{
  position: absolute;
  left: 100%;
  top: -10px;    padding-left: 8px !important;

  margin-top: 0;
  padding: 0;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.160784);
  min-width: 250px;
}

.sideBar.closeMenu .nav-links li .subMenu .subMenuWrapper{
  padding: 0 15px;
}

.sideBar.closeMenu .nav-links li .subMenu .subMenuWrapper li{
  padding: 0 10px;
}

.sideBar.closeMenu .nav-links li .subMenu .subMenuWrapper li a:hover{
  color:#fff;
}
.sideBar.closeMenu .nav-links li:hover .subMenu{
  top: 11px;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sideBar .nav-links li .subMenu .link_name{
  display: none;
}
.sideBar.closeMenu .nav-links li .subMenu .link_name{
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sideBar .nav-links li .subMenu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 25px;
  opacity: 0;
  pointer-events: none;
}
.sideBar .nav-links li:hover .subMenu.blank{
  top: 50%;
  transform: translateY(-50%);
}
.contentWarpper{
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  left: 300px;
  width: calc(100% - 300px);
  transition: all 0.3s ease; 
}
.sideBar.closeMenu ~ .contentWarpper{
  left: 70px;
  width: calc(100% - 70px);
}
 
 

 