body {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
}
img,
i,
a,
span,
button {
  border-style: none;
  transition: all 0.3s ease;
}
a {
  text-decoration: none;
}
a:hover {
  color: inherit;
  text-decoration: none;
}
.neW_cls {
    width: 100%;
    float: left;
}
.loginCopyRight.new {
    right: 3% !important;
    text-align: right !important;    left: auto !important; 
}
            .loginCopyRight{position: fixed;width: auto !important;}
            .loginCopyRight {   left: 2% !important;text-align: left !important;    right: auto !important;}
.appWarpper {
  display: flex;
  overflow-x: hidden;
  background: #f8f8f8;
  justify-content: flex-start;
}
 .logo-default {
    width: 100%;
    float: left;
}
.loginLBox{width: 100%;float: left;    text-align: center;
}
.form-group {
    text-align: left;
}
.loginForm{  
    /* max-width:fit-content !important; */
    /* min-width: fit-content !important ; */
    width: 65%;    margin-bottom: 15% !important;

}
.contentWarpper {  
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  left: 300px;
  width: calc(100% - 300px); 
  transition: all 0.3s ease;
}
.appHeader {
  display: flex;
  justify-content: space-between;
  min-height: 82px;
  align-items: center;
  padding: 0 40px;
  background: #ffffff;
  width: 100%;    border-radius: 6px;

}
li.nav-item:focus-visible{outline: none !important;}
div#myTabContent {
    border: 1px solid #dee2e6;
    margin-top: 20px;
    border-radius: 6px;
    padding: 10px;
}
.table-responsive{    overflow-x: unset;}
.pageTitle {
  margin: 0;
  font-weight: 500;
  font-size: 30px;
  line-height: 39px;
  color: #292b4d;
}
.appContent.sidebr {
    width: 100%;
    float: left;
    padding: 0px;
}
.userDetails {
  display: flex;
  align-items: center;
  gap: 15px;
}
.dropbtn {
    /* background-color: #3498DB; */
    color: white;
    padding:7px 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    background-color: #292b4d;
    border-color: #292b4d;
    border-radius: 6px;
    line-height: normal;
    padding-right: 40px;position: relative;    font-weight: 500;

}
button.dropbtn::after {
    content: "\f107";
    border: none;
    font: normal normal normal 20px/1 FontAwesome;
       right: 10px;
    position: absolute;
}
.dropbtn:focus-visible {
    outline: none !important;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
     min-width: 180px; 
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 6px;    right: 0px;

}
.dropdown-content a {
    color: black;
    padding: 0.2rem 1rem;
    text-decoration: none;
    display: block;
    text-align: left;
    border-radius: 6px;
    background: transparent !important;
    

    font-weight: 500;
}
.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
.userDetails img {
  border-radius: 6px;
  width: 35px;
  height: 35px;
  object-fit: cover;
}
.modal-dialog{    margin: 0.75rem auto !important;}
.userDetails .dropdown-toggle {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #292b4d;
  display: flex;
  align-items: center;
  gap: 8px;
}
.appContent {
    padding: 19px;
}
.userDetails .dropdown-toggle::after {
  content: "\f107";
  border: none;
  font: normal normal normal 20px/1 FontAwesome;
}
.container-fluid{
      padding-top: 15px;

}

/*.appContent {
  padding: 19px;
}*/
.contentArea {
  background: #ffffff;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.0509804);
  border-radius: 6px;
  min-height: calc(100vh - 209px);
  padding: 23px;
}

.form-group .form-control {
  margin-bottom: 12px;
}
.form-group .form-control {
  background: #ffffff;
  border: 1px solid #e1e1e1;
  border-radius: 6px;
  height: 37px;
}
.form-group label {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #292b4d;
  margin-bottom: 11px;
}
form .btn-primary {
  background: #fc664a;
  border-radius: 6px;
  border-color: #fc664a;
  padding: 5px 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-top: 10px;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.160784);

}

form label span{
  color: #fc664a;
  font-size:20px;
}

form .btn-primary:hover {
  color: #fff;
  background-color: #292b4d;
  border-color: #292b4d;
}
.tableDesign {
  margin-bottom: 40px;
}

.tableDesign thead th {
  vertical-align: bottom;
  border-bottom: 1px solid #e1e1e1;
  border-top: none;
  padding: 15px 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 15px;
  color: #292b4d;
  vertical-align: middle;
}
.tableDesign thead th:first-child,
.tableDesign tbody td:first-child {
  text-align: left;
  padding-left: 0;
}
.tableDesign thead th:last-child,
.tableDesign tbody td:last-child {
  text-align: right;
  padding-right: 0;
}
.tableDesign tbody td {
  vertical-align: bottom;
  border-bottom: 1px solid #e1e1e1;
  border-top: none;
  padding:6px 5px;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #292b4d;
  vertical-align: middle;
}

.editIcon {
  width: 30px;
  height: 30px;
  background: #fc664a;
  border-radius: 6px;
  display: inline-flex;
  color: #fff;
  text-align: center;
  line-height: normal;
  font-size: 16px;
  align-items: center;
  justify-content: center;
}

.trashIcon {
  width: 30px;
  height: 30px;
  background: #1d1d1d;
  border-radius: 6px;
  display: inline-flex;
  color: #fff;
  text-align: center;
  line-height: normal;
  font-size: 16px;
  justify-content: center;
  align-items: center;
}
.manageWebHookAction {
  background: #fc664a;
  border-radius: 6px;
  padding: 0 10px;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  gap : 5px;
  line-height: normal;
  padding: 8px;
  display: inline-flex;
  align-items: center;
}
.manageWebHookAction i {
  color: #fff;
  font-size: 16px;
  margin-right: 0;
}
.editIcon:hover,
.trashIcon:hover,
.manageWebHookAction:hover {
  color: #fff;
}

.sectionTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.sectionTitle h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 39px;
  color: #292b4d;
  margin: 0;
}
.pageAction {
  background: #fc664a;
  border-radius: 6px;
  padding: 10px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  color: #ffffff;    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.160784);

}
.pageAction i {
  margin-top: 1px;
}
.pageAction:hover {
  background-color: #292b4d;
  color: #ffffff;
}
.modal-content {
  padding: 35px;
}
.modal-header {
  border: 0;
  padding: 0;
  margin-bottom: 35px;
}
.modal-title {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 39px;
  color: #292b4d;
  border: none;
  margin: 0;
}
.modal-body {
  padding: 0;
}
.modal-footer {
  border: 0;
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.modal-footer button {
  margin: 0;
}
.modal-footer .btn-primary {
    margin: 0;
    height: 40px;
    background: #fc664a;
    border-radius: 6px;
    padding: 0 40px;
    border-color: #fc664a;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #ffffff;
}
.modal-footer .btn-secondary {
    margin: 0;
    height: 40px;
    background: #292b4d;
    border-radius: 6px;
    padding: 0 40px;
    border-color: #292b4d;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #ffffff;
}
.modal-footer .btn-dark {
  margin: 0;
  height: 40px;
  background: #1d1d1d;
  border-radius: 6px;
  padding: 0 40px;
  border-color: #1d1d1d;
  font-style: normal;
  font-weight: 500;
  font-size:18px;
  line-height: 26px;
  color: #ffffff;
}
.modal-footer.bright {
    width: 100%;
    float: left;
    display: unset;
    text-align: center;
}
.bri_popup {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
.bri_popup button.btn.btn-secondary {
    float: left;
}
.bri_popup button.btn.btn-dark {
    float: right;
}
.btnGroup {
  display: flex;
  gap: 25px;
}
.modal-body .tableDesign thead th,
.modal-body .tableDesign tbody td {
  padding: 10px 10px;
}
.modal-dialog-scrollable .modal-body {
  overflow-y: auto;
  scrollbar-width: thin;
}
.modal-body .form-check-input {
  margin: 0;
  position: relative;
}
.modal-body .tableDesign a {
  color: #292b4d;
}
.tableElements {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}
.searchOptions {
  display: flex;
  gap: 19px;
  width: 30%;
}
.searchOptions .form-control {
  width: 100%;
  max-width: 400px;
  background: #ffffff;
  border: 1px solid #e1e1e1;
  border-radius: 6px;
  height: 37px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #292b4d;
}
.searchOptions .formSelect {
  
  background: #ffffff;
  border: 1px solid #e1e1e1;
  border-radius: 6px;
  padding: 0 15px 0 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #292b4d;
  height: 37px;
}

.btnGroup {
  display: flex;
  gap: 10px;
  /* width: 205px;
  height: 51px; */
  background: #ffffff;
  border: 1px solid #e1e1e1;
  border-radius: 6px;
  
}
.btnGroup a {
  color: #292b4d;
  padding:5px 10px;
  border-radius: 6px;
}

.btnGroup a:hover {
  background-color: #fc664a;
  color:#fff;
}
.toolDropDown button {
  width: auto;
  background: #292b4d;
  border-radius: 6px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: normal;
  color: #ffffff;
  display: inline-flex;
  align-items: flex-start;
  gap: 5px;
  border-color: #292b4d;
  padding-right: 25px;
}
.toolDropDown .dropdown-toggle::after {
  content: "\f107";
  border: none;
  font: normal normal normal 20px/1 FontAwesome;
}
.toolDropDown button:hover {
  color: #fff;
  background-color: #292b4d;
  border-color: #292b4d;
}
.toolDropDown .btn-dark:not(:disabled):not(.disabled).active,
.toolDropDown .btn-dark:not(:disabled):not(.disabled):active,
.toolDropDown.show > .btn-dark.dropdown-toggle {
  color: #fff;
  background-color: #292b4d;
  border-color: #292b4d;
}

.pageActionGroup {
  display: flex;
  gap: 18px;
}
.pageActionGroup a {
  display: flex;
  gap: 10px;
  align-items: center;
  background: #fc664a;
  border-radius: 6px;
  padding: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.3;
  color: #ffffff;
}
.pageActionGroup a:hover {
  background: #292b4d;
}
table .form-check-input {
  margin: 0;
  width:17px;
  height:17px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
}
.configBox {
  max-width: 100%;
  width: 100%;
}
.configBox .form-group {
  margin-bottom: 45px;
}
.emailBody {
  width: 100%;
  min-height: 240px;
  background: #ffffff;
  border: 1px solid #e1e1e1;
  border-radius: 6px;
}
.configBox label {
  font-weight: 500;
  font-size:18px;
  line-height: 26px;
  color: #292b4d;
  margin-bottom: 11px;
}
.configBox .btn-primary {
  background: #fc664a;
  border-radius: 6px;
  border-color: #fc664a;
  height: 40px;
  padding: 0 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  text-transform: capitalize;
  margin-top: 25px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.160784);
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #292b4d;
  border-color: #292b4d;
}
.configBox .btn-primary:hover {
  color: #fff;
  background-color: #292b4d;
  border-color: #292b4d;
}
/* Start Table Grid CSS **********************************/
.customTableGrid {
  width: 100%;
  font-family: "IBM Plex Sans", sans-serif;
}
.customTableGrid .ag-theme-alpine .ag-header {
  border: none;
  background-color: transparent;
}
.customTableGrid .ag-theme-alpine .ag-root-wrapper {
  border: none;
  font-family: "IBM Plex Sans", sans-serif;
}
.customTableGrid .ag-theme-alpine .ag-header-cell, .ag-theme-alpine .ag-header-group-cell { 
  border-color: #E1E1E1 !important;
}
.customTableGrid .ag-theme-alpine .ag-header-cell-resize {
  display: flex;
  align-items: center;
  opacity: 0;
} 
.customTableGrid .ag-theme-alpine .ag-row { 
  background-color: transparent !important; 
  border-width: 0 !important;
} 
.customTableGrid .ag-body-viewport {
  scrollbar-width: thin;
} 
.customTableGrid .ag-input-field-input[type="text"] {
  border-color: #E1E1E1 !important;
}
/* Start Table Grid CSS **********************************/

div.ag-theme-alpine .ag-header-cell-label {
    font-size: 18px !important;
}
.hide,.display-hide{
  display:none;
}
.show,.display-show{
  display:block;
}
.ag-root-wrapper.ag-layout-normal{height:100%;} body #myGrid .ag-cell {overflow:visible; } .ag-row {z-index: 0;} .ag-row.ag-row-focus {z-index: 1;} .ag-root.ag-layout-auto-height,.ag-body-viewport.ag-layout-auto-height,.ag-body-viewport-wrapper.ag-layout-auto-height {overflow: visible;} .ag-cell.ag-cell-not-inline-editing.ag-cell-auto-height.ag-cell-value {overflow-x: clip;} .ag-root-wrapper-body.ag-layout-normal.ag-focus-managed { height: 100%; } .ag-cell-wrap-text {line-height: 22px !important;} body .datepicker{top:21px !important;}
.hide {
  display: none !important;
}
.customTableGrid .ag-theme-alpine .ag-ltr .ag-cell {
  border-right-width: 1px;
  border-bottom: 1px solid #E1E1E1;
  padding: 15px;
}
.ag-theme-alpine .ag-ltr .ag-cell-range-single-cell, .ag-theme-alpine .ag-ltr .ag-cell-range-single-cell.ag-cell-range-handle, .ag-theme-alpine .ag-ltr .ag-cell.ag-context-menu-open, .ag-theme-alpine .ag-ltr .ag-has-focus .ag-cell-focus:not(.ag-cell-range-selected), .ag-theme-alpine .ag-rtl .ag-cell-range-single-cell, .ag-theme-alpine .ag-rtl .ag-cell-range-single-cell.ag-cell-range-handle, .ag-theme-alpine .ag-rtl .ag-cell.ag-context-menu-open, .ag-theme-alpine .ag-rtl .ag-has-focus .ag-cell-focus:not(.ag-cell-range-selected) {
  border: 1px solid transparent !important; 
  border-bottom: 1px solid #E1E1E1 !important; 
}

/* general settings css */

.general-settings-section li{
  padding: 10px;
  margin-bottom: 20px;
  transition: 1s;
}

.general-settings-section li:hover{
  border:0;
  -webkit-box-shadow: 0px 0px 25px 4px rgba(0,0,0,0.22);
  -moz-box-shadow: 0px 0px 25px 4px rgba(0,0,0,0.22);
  box-shadow: 0px 0px 25px 4px rgba(0,0,0,0.22);
}

.general-settings-section li a i{
  color:#fc664a;
  font-size:50px;
}

.general-settings-section li a{
  color:#fc664a;
  font-size:15px;
}

.list-group-item{
  background-color: transparent !important;
  color: #000;
  border: 0;
  font-size: 18px;padding: 8px 15px !important;
}
.appHeader.sidebr span {
    /* text-align: center; */
    /* background: red; */
    color: #000;
    font-weight: bold;
    font-size: 20px;
    padding: 8px 14px;
    /* border: 1px solid red; */
    /* border-radius: 6px; */
}

.list-group-item.active, .list-group-item:hover{
      z-index: 2;
    background: #fc664a !important;
    color: #fff;
}
.appHeader.sidebr div#list-tab {
    padding: 0px !important;
}
.appHeader.sidebr {
    padding: 0;
    display: unset;
    background: #fff !important;
    width: 100%;
    float: left;
}
.break-section::after{
  content: '';
}

.break-section{
  padding-top: 10px;
}

.break-section::before{
  content: '';
}
 
@media only screen and (max-width: 1650px) {
    .pageAction {
        height: 37px; 
        padding: 0 10px; 
        gap: 10px; 
        font-size: 16px; 
    }
    .customTableGrid .ag-cell-wrapper {
        display: flex;
        align-items: start;
        height: 100%;
    }
    .customTableGrid .ag-theme-alpine .ag-cell-wrapper > :not(.ag-cell-value):not(.ag-group-value) {
        height: auto;
        display: flex;
        align-items: center;
        flex: none;
        margin-top: 3px;
    }
    .pageActionGroup a {
        display: flex;
        gap: 7px;
        align-items: center;
        width: auto;
        height: 37px;
        background: #fc664a;
        border-radius: 6px;
        padding: 0 10px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #ffffff;    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.160784);

    }
    .pageActionGroup {
        display: flex;
        gap: 8px;
    }
}
@media only screen and (max-width: 1025px) {
.configBox .btn-primary{    margin-top: 15px;}
.configBox .form-group {
    margin-bottom: 25px;
}

}

@media only screen and (max-width:915px) {
.col-md-7.logn {
    padding-right: 0px !important;
}
.loginLBox{
      padding: 20px;

}
}
@media only screen and (max-width: 768px) {
  
 
  .modal-dialog{    max-width: 600px;}
  .col-lg-9.new_cl {
    margin-top: 15px;
    padding-left: 15px !important;
}
table.table.tableDesign.Purchase {
    min-width: 900px !important;
}
table.table.tableDesign.sales {
    min-width: 850px !important;
}
table.table.tableDesign.Stock {
    min-width: 900px !important;
}
.table-responsive {
    overflow-x: scroll;
}
table.table.tableDesign.Payment {
    min-width: 850px;
}
.searchOptions{width: 40%;}
}
@media only screen and (max-width: 500px) {
  .loginCopyRight{width: auto !important;}
  .col-md-7.logn {
    margin: 0px !important;padding: 0px !important;
}
.col-md-5.logn{
  margin: 0px !important;padding: 0px !important;
}
.loginLBox {
    padding: 25px !important;
}
.loginCopyRight.new {
    text-align: right !important;
    right: 5%;
}

#debug-icon{right: 25px !important;}
  .table{    min-width: 380px !important;}
  .table-responsive{
        overflow-x: scroll;}
        table.table.tableDesign.bright {
    min-width: 530px !important;
}
.col-6{max-width: 100%;    flex: 0 0 100%;}
.modal-footer .btn-secondary{    padding: 0 20px;}
.modal-footer .btn-primary{    padding: 0 10px;}
  .pageTitle{font-size: 25px;}
  .searchOptions {
    width: 100%;
    float: left;
    /* display: unset; */
    margin-bottom: 10px;
}
.tableElements {
    display: unset;}
    .btnGroup{width: auto;float: right;}
    table.table.tableDesign.Payment {
    min-width: 850px !important;
}
.pageActionGroup{display: unset;}
.pageActionGroup a{    margin-bottom: 10px;}
table.table.tableDesign.product {
    min-width: 550px !important;
}
table.table.tableDesign.user {
    min-width: 600px !important;
}
}





@media only screen and (max-width: 1025px) {
                .loginCopyRight.new {left: 41% !important;}
                .loginCopyRight.new {right: 4% !important;}
            }
            @media only screen and (max-width: 993px){
                .loginForm{
                        margin-bottom: 10% !important;
                }
                .row.no-gutters {
    margin-right: 0px;
}
                .loginCopyRight{width: auto;}
                .loginCopyRight.new {right: 5% !important;}
            }
            @media only screen and (max-width: 768px){
                form.login-form.loginForm {width: 100% !important;margin-bottom: 12% !important;}
                
                #debug-icon{    right: 15px;}
                .loginCopyRight.new {right: 8% !important;}
            }
            @media only screen and (max-width: 640px) {
                .loginCopyRight.new {right: 10% !important;}
            }
            @media only screen and (max-width: 510px) {
                form.login-form.loginForm { width: 100% !important;    min-width: fit-content !important;}
                .loginLBox{height: 100vh !important;}
                .loginCopyRight.new {right: 12% !important;}
            }
            @media only screen and (max-width: 500px) {
                .loginCopyRight.new {right: 14% !important;}
                .loginCopyRight{    bottom: 50px;}
                
            }
             @media only screen and (max-width: 450px) {
                .loginCopyRight.new {right: 16% !important;}
                #debug-icon {
    right: 10px !important;
}
            }
            @media only screen and (max-width: 375px) {
                .loginForm h2{font-size: 28px;}
                .loginCopyRight.new {right: 18% !important;}
                .loginLBox{    padding: 27px 10px 27px 10px !important;}
                .loginCopyRight{    bottom: 20px;}
            }
